

/* --- Google Fonts ---
    You can paste an import from Google Fonts here. Example:
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400;700&display=swap');
    If you prefer a <link> tag, add it to the <head> of the HTML pages.
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=BBH+Sans+Bogle&family=Doto:wght@100..900&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #37383f;
    color: #ffffff;
    height:auto;
    min-height:100vh;
    font-family: 'Noto Sans', sans-serif;
}
/* Container styling */
.container {
    font-family: 'Noto Sans', sans-serif;
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Baloo 2', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 2em;
}


