p{
    margin-top: .5em;
}
h1{ 
    font-size: 3em;
    font-weight: extrabold;
}
h2{ 
    font-size: 2.25em;
    font-weight: bold;
    opacity: .5;
    text-align: center;
    margin-top: 1em;
    font-family: 'Race Sport', sans-serif;
}